<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
     function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
    </script>
    
    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: Please add the following <FORM> element to your page.             -->
    <!--  ----------------------------------------------------------------------  -->
    
    <form action="https://healthstream--hstm.my.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">
    
    <input type=hidden name='captcha_settings' value='{"keyname":"hs_qa_webtocase","fallback":"true","orgId":"00D2h0000000nLW","ts":""}'>
    <input type=hidden name="orgid" value="00D2h0000000nLW">
    <input type=hidden name="retURL" value="http://healthstream.com">
    <input type=hidden name="recordType" id="recordType" value="012300000008BVkAAM">
    
    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
    <!--  these lines if you wish to test in debug mode.                          -->
    <!--  <input type="hidden" name="debug" value=1>                              -->
    <!--  <input type="hidden" name="debugEmail"                                  -->
    <!--  value="forrest.hartley@healthstream.com">                               -->
    <!--  ----------------------------------------------------------------------  -->
    
    <label for="name">Contact Name</label><input  id="name" maxlength="80" name="name" size="20" type="text" /><br>
    
    <label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>
    
    <label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" /><br>
    
    Organization Name:<textarea  id="00N30000007OxCt" name="00N30000007OxCt" type="text" wrap="soft"></textarea><br>
    
    <label for="00N3000000BuaUW">AO Key (optional)<input id="00N3000000BuaUW" maxlength="255" name="00N3000000BuaUW" size="20" type="text" /><br>
    
    <label for="subject">Subject</label><input  id="subject" maxlength="80" name="subject" size="20" type="text" /><br>
    
    <label for="description">Description</label><textarea name="description"></textarea><br>
    
    <input type="hidden"  id="external" name="external" value="1" /><br>
    
    <div class="g-recaptcha" data-sitekey="6LclemEbAAAAAMuipJuFwzrJDdjXGfVcalAW2RsE"></div><br>
    <input type="submit" name="submit">
    
    </form>
    